<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilopropio/estilos.css') }}">


    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <img src="{{url_for('static', filename='imagenes/logo.png' )}}" class="img-fluid" height="100" width="200" alt="Logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="{{url_for('inicio')}}">Inicio</a></li>
                <li><a href="{{url_for('sobre')}}">Sobre Nosotros</a></li>
                <li><a href="{{url_for('servicios')}}">Servicios</a></li>
                <li><a href="{{url_for('portafolio')}}">Portafolio</a></li>
                <li><a href="{{url_for('ubi')}}">Ubicación-contacto</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <script src="../static/bootstrap/js/bootstrap.js"></script>
</body>

</html>