{% extends "layout.html" %}

{% block content %}


<div class="container">
  <center>
    <h2 id="sobrenosotros">SOBRE NOSOTROS</h2>
  </center>
  <hr>
</div>



<section id="INICIO">
  <div class="row">
    <div class="container">


      <div class="content">
        <div class="image">
          <div class="contenedor">
            <a href="#">
              <figure>
                <img src="{{ url_for('static',filename='imagenes/equipoo.jpg' )}}" width="700" height="700">
                <div class="capa">
                  <h3>Nuestro equipo</h3>
                  <p>Nuestro equipo está compuesto por desarrolladores talentosos y experimentados en diseño, desarrollo
                    frontend y backend, y optimización SEO. Nos enfocamos en calidad e innovación en cada proyecto.</p>
                </div>
              </figure>
            </a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <div class="contenedor">
            <a href="#">
              <figure>
                <img src="{{url_for('static',filename='imagenes/lenguajes.jpg')}}" width="700" height="700">
                <div class="capa">
                  <h3>Habilidades</h3>
                  <p>Nos especializamos en HTML y CSS, creando estructuras web sólidas y accesibles, así como diseños
                    impresionantes y responsivos, asegurando una perfecta adaptación en cualquier dispositivo..</p>
                </div>
              </figure>
            </a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="image">
          <div class="contenedor">
            <a href="#">
              <figure>
                <img src="{{url_for('static',filename='imagenes/equipocom.jpg')}}" width="700" height="700">
                <div class="capa">
                  <h3>Tutorias</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, vero! (no se que poner)</p>
                </div>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>
</section>

{% endblock %}